@*@using SocialNetwork.Models*@ 
@{
    ViewBag.Title = "Index";
}

<h2>Добро пожаловать!</h2>

@if (!User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Login", "User"))
    {
        <button>Login</button>
    }
    using (Html.BeginForm("Registration", "User"))
    {
        <button>Registration</button>
    }
}
